body{
   background-color: black;
   font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/* *{
    box-sizing: border-box;
} */
html{
    overflow-x: hidden;
}

/* Fonts */
h1{
    font-weight: 500;
}
h1.hot-pink{
    color: hotpink;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 300;

}
.about{
    margin-bottom: 15vh;
}
h1.tagline{
    font-weight: 200;
    font-size: 9em;
    color: white;
    margin:0;
}
span.lightgrey{
    color: #808080;
}
p.tag{
    color: hotpink;
}


/* icons */
.icon{
    display: inline-block;
    font-size: 22px;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}
.icon a{
    color: white;
}
.icon.mobile{
    float: right;
    color: white;
}

/* header: name and hr */
hr{
  width: 100%;
  border-top: 1px white solid;  
  opacity: 0.7  ;
}

/* general stuff */
.dark-grey{
    background: #333333;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
  }
.overlay .icon{
    float: right;
    color: white;
}
.overlay-content ul{
    list-style: none;
    font-size: 2em;
    font-weight: 700;
}
.overlay-content a{
    color: white;
    line-height: 2em;
}
.overlay-content a.active{
    color: hotpink;
}
 
.Desktop{
    display: none;

}
.profile-image{
    box-shadow: -20px -20px gray;
   margin-bottom: 10vh;
}
.logo{
    margin-bottom: 10vh;
}
.btn{
margin-left: 20vw;
margin-top:10vh ;
background-color: hotpink;
border: none;
color: white;
padding: 10px;
text-decoration: none;
font-size: 16px;
border-radius: 50%; 

}
.buttons{
margin-left: 5vw;
display: grid;


}
.bts{
background-color: hotpink;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
font-size: 16px;
border-radius: 50%; 
}
.bt{
margin-top:5vh ;
background-color: hotpink;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
font-size: 16px;
border-radius: 50%; 
}

/* general styles */
.hide-on-mobile{
    display: none;
}


 /* testimonals section */
 .TestimonalsDiv{
    width: 100vw;
    height: 235vh;
    margin-left: -5vw;
    text-align: center;
    
  }
  .card{
   
    border-radius: 0;
    border-width: 0;
  }
.TestimonalsHeading{
      margin-top: 15px;
      font-weight: 400;
      opacity: 1;
  }
  .TestimonalsContent{
      font-size: 14px;
      font-weight: 250;
      line-height: 18px;
      text-align: justify;
      text-size-adjust: 2px;
      color: white;
    
  }
  .TestimonalsContactText{
      font-size: 16px;
      text-align: center;
  }
  .TestimonalsDivs{
    margin-bottom: 20px;
}
  .ContactDiv{
      width: 100%;
      height: 8%;
      background-color:hotpink;
      color: white;
  }

@media (min-width: 576px) and (orientation: landscape) { 
 
  
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    .block{
        height: 30vh;
    }

    .hide-on-mobile{
        display: block;
    }
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 

    .show-on-desktop{
        display: block;
    }
    .hide-on-desktop{
        display: none;
    }
    .menu{
        display: none;
    }
    .social-icons{
        text-align: right;
    }

    .hide-on-mobile{
        display: block;
    }

   
}
  @media screen and (min-width: 1200px) {

    /* icons */
    .icons{
        text-align: right;
    }

    #myNav{
    display: none;
    }
    ul.desktop-nav{
        list-style: none;
    }
    ul.desktop-nav li{
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
    }
    ul.desktop-nav li a{
        color: white;
    }
    ul.desktop-nav li a.active{
        color: hotpink;
    }


    .Desktop{
    display: block;
    color: white;
    }  
    .mobile{
    display: none;
    }
  
   
  /* ---Start Styling the Testimnial Section--- */
  .testimonialText
  {
      position: relative;
      left: 15vw;
      bottom: 10vh;
  }
  /* ---End Styling the Testimnial Section--- */

.myName{
  text-align: center;
}
/* Arrow */
.arrows{
   margin-top: 3vh;
   margin-left: -0.5vw;
  
}
.arrow{
    margin-left: 35vw;
    margin-top: 20vh;
    font-size: 22px;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 70px;
    width: 40px;
    padding-top: 2px;
   
}
p{
    display: inline-block;
    text-align: center;
}

.butto {
  display: none;
} 
.buttoTwo{
    display: block;
}

.buttons{
    display: inline-block;
    margin: 0 20px;
    color: white;
    background: #f7931e;
    width: 15vw;
    height: 7vh;
    border-radius: 25px;
    margin-top: 5vh;
    margin-left: 10vw;
    
}
.orangebox {
    text-align: center;
    width: 90px;
    height: 90px;
    background: #eb5e28;
}
 /* testimonals section */
 .TestimonalsDiv{
    width: 86vw;
    height: 100vh;
  }
  .TestimonalsHeading{
    font-weight: 300;
    text-align: center;
    font-size: 2em;
    width: 20vw;
    margin-top: 8vh;
}
.TestimonalImage{
    width: 10vw;
    height: 15vh;
  }
  .ContactDiv{
    width: 10vw;
    height: 15vh;
}
.lectureImages{
    width: 10vw;
    height: 15vh;
  }
  .TestimonalsContent{
    margin-left: -5vw;
    width: 20vw;
   
 }
.firstColums{
    margin-left: -5vw;

}
.firstColumsText{
    margin-left: -20vw;

}

.secondColums{
    transform: translate(30vw,-80vh);
}

.hide-on-mobile{
    display: block;
}

}


/* @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){} } */