body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
     font-size: 1em;
 }
 
 /* *{
     box-sizing: border-box;
 } */
 html{
     overflow-x: hidden;
 }
 
 /* Fonts */
 h1{
     font-weight: 500;
 }
 .pink{
     position: relative;
     bottom: 6vh;
 }
 h1.hot-pink{
     color: hotpink;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     font-weight: 300;
 
 }
 .hot{
    color: hotpink;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 300;
   
 }
 
 h1.tagline{
     font-weight: 200;
     font-size: 9em;
     color: white;
     margin:0;
 }
 span.lightgrey{
     color: #808080;
 }
 p.tag{
     color: hotpink;
 }
 
 
 /* icons */
 .icon{
     display: inline-block;
     font-size: 22px;
     border: 1.5px solid white;
     border-radius: 50%;
     height: 40px;
     width: 40px;
     text-align: center;
     padding-top: 2px;
 }
 .icon a{
     color: white;
 }
 .icon.mobile{
     float: right;
     color: white;
 }
 
 /* header: name and hr */
 hr{
   width: 100%;
   border-top: 1px white solid;  
   opacity: 0.7  ;
 }
 
 /* general stuff */
 .dark-grey{
     background: #333333;
 }
 
 .overlay {
     height: 100%;
     width: 100%;
     display: none;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgb(0,0,0);
   }
 .overlay .icon{
     float: right;
     color: white;
 }
 .overlay-content ul{
     list-style: none;
     font-size: 2em;
     font-weight: 700;
 }
 .overlay-content a{
     color: white;
     line-height: 2em;
 }
 .overlay-content a.active{
     color: hotpink;
 }
  
 .Desktop{
     display: none;
 
 }
 .profile-image{
    box-shadow: -20px -20px gray;
}
.arrow{
    display: none;
}

.Tab{
    display: none;
}



.btn{
    background-color: hotpink;
    height: 2em;
    width: 12em;
    margin-left: 4em;
    border-radius: 20em;
    margin-top: -2em;
 }

 .TestimonalsContent {
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
    text-align: justify;
    text-size-adjust: 2px;
    color: red;
}

.TestimonalsContactText {
    font-size: 16px;
    text-align: center;
}

.TestimonalsDivs {
    margin-bottom: 20px;
}


.card {
    border: none;
    border-radius: 0;
}

.card-body {
    background: hotpink;
    color: white;
}

.LinkD{
    margin-left: 6vw;
    color: white;
  } 
  .tags{
      color: white;
  }

  /* get in touch section */

  .touchtext {
    margin-top: 10vh;
}

.touch-butto {
    margin-top: 10vh;
    margin-left: 20vw;
}

.email {
    background: grey;
    width: 80vw;
    height: 7vh;
    margin-left: 10vw;
}

.massege {
    background: grey;
    width: 80vw;
    height: 30vh;
    margin-left: 10vw;
}

 ::placeholder {
    color: white;
    padding: 10px;
}
.F-Icons{
    margin-left: 25vw;
    margin-top: 4vh;
}

.copyright{
    text-align: center;
    font-size: 0.8em;
}
.Tshepo{
    color: white;
}
.send{
    margin-top: 3em;
}

.mrr{
    margin-left:6vw ;
    
    }
 @media (min-width: 576px) and (orientation: landscape) { 
    .but3{
        margin-left:109vw ;
        margin-top: -25vh;
        }
        .but1{
        margin-left:26vw ;
        margin-top: -5vh;
        }
        .but2{
            margin-left:-14vw ;
            margin-top: -5vh;
            }

    

  
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {

    .hide-on-mobile{
        display: block;
    }
    /* Arrow */
.arrows{
    margin-top: 3vh;
    margin-left: -0.6vw;
   
 }
 .arrow{
     margin-left: 43vw;
     margin-top: 20vh;
     font-size: 22px;
     border: 1.5px solid white;
     border-radius: 50%;
     height: 70px;
     width: 40px;
     padding-top: 2px;
    
 }
 .hot{
     margin-left: 45vw;
    
 }
.profile-image{
    margin-left: 5vw;
    width: 60%;
    height: auto;
    margin-top: 5vh;

}
.Mob{
    display: none;
}
.Tab{
    display: block;
}
.Lorem{
    position: relative;
    bottom: 15vh;
    left: -5vw;
    font-size: 100;
    color: white;
}
.Lore{
    position: relative;
    bottom: 8vh;
    left: -5vw;
}
.profile-imag{
    margin-top: 5vh;
}
.but3{
margin-left:39vw ;
margin-top: -25vh;
}

.but1{
margin-left:26vw ;
margin-top: -5vh;
}
.but2{
    margin-left:-14vw ;
    margin-top: -5vh;
    }
    .send{
        margin-left: 40vw;
    }
    .LinkD{
        margin-left: 13vw;
        color: white;
      } 
      .btns {
        margin-right: 10vw;
        margin-top: 4vh;
    }
    .Getin{
        margin-left: -2em;
    }

    .F-Icons{
        margin-left: 40vw;
        margin-top: 2vh;
    }
    .copyright{
        margin-left: 8vw;
    }
    }

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 

    .show-on-desktop{
        display: block;
    }
    .hide-on-desktop{
        display: none;
    }
    .menu{
        display: none;
    }
    .social-icons{
        text-align: right;
    }

    .hide-on-mobile{
        display: block;
    }

   /* Arrow */
.arrows{
   margin-top: 3vh;
   margin-left: -0.5vw;
  
}
.arrow{
    margin-left: 35vw;
    margin-top: 20vh;
    font-size: 22px;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 70px;
    width: 40px;
    padding-top: 2px;
   
}
.testimonial{
    padding: 5%;
}
}
  @media screen and (min-width: 1200px) {

    /* icons */
    .icons{
        text-align: right;
    }

    #myNav{
    display: none;
    }
    ul.desktop-nav{
        list-style: none;
    }
    ul.desktop-nav li{
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
    }
    ul.desktop-nav li a{
        color: white;
    }
    ul.desktop-nav li a.active{
        color: hotpink;
    }


    .Desktop{
    display: block;
    color: white;
    }  
    .mobile{
    display: none;
    }
  
 

/* Arrow */
.arrow{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid white;
    font-weight: 20px;
    padding: 25px 10px 10px 10px;
    margin-left: 35vw;
}

p{
    display: inline-block;
    text-align: center;
}

.inputone {
    background: grey;
    width: 50vw;
    height: 7vh;
}
.lname {
    background: grey;
    width: 50vw;
    height: 7vh;
}
.Tname {
    background: grey;
    width: 50vw;
    height: 30vh;
}
.touch-butto {
    display: block;
    width: 20vw;
    margin-left: 30vw;
}
footer {
    display: block;
}
.Lorem{
  margin-top: -23vh;
 
}
.but3{
    margin-top: -25vh; 
   
}
.Lore{
    margin-top: -18vh;
  
}
.profile-imag{
    margin-left: 5vw;
}
/* Get-in-touch  section*/
.email {
    background: grey;
    width: 50vw;
    height: 7vh;
    margin-left: 15vw;
}
.massege {
    background: grey;
    width: 50vw;
    height: 30vh;
    margin-left: 15vw;
}
.touch-butto {
    display: block;
    width: 20vw;
    margin-left: 30vw;
}
.LinkD{
    margin-left: 3vw;
}
.send{
    margin-left: 33vw;
}
.F-Icons{
    margin-left: 43vw; 
}
.copyright{
   margin-left: 43vw;
}  
.Tab{
    display: block;
}
.Mob{
    display: none;
}
.mrr{
    margin-left: -2vw;
}
}


